export SMTP_SERVER='smtps://mailcluster.loopia.se:465'
export MAIL_FROM='support@ecp.rs'
export MAIL_TO='vbazovic@gmail.com'
export MAIL_USER='support@ecp.rs'
export MAIL_UPASSWD='6cF$}_A,FeAT5+>j'
export MAIL_SUBJECT='Health-check'